
select[name="abcc"]{
  
  display: block;
  
  left: 750px;
  max-width:400px;
  position: relative;

}

.AddBrokerage {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
h1{
    font-size: 50px;
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
  }
input, textarea, select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    align-items: center;
  }
button {
    background: #23A6F0;
    color: #fff;
    border: 0;
    padding: 8px;
    margin: 20px;
    border-radius: 8px;
    cursor: pointer;
  }