
h1{
    font-size: 50px;
    
}
.buttonsContainer{
    margin-left:auto;
    margin-right:auto;
}
h2 {
    font-size: 30px;
    color: black;
    
  }

p2 {
    
    
    font-size: 25px;
    color: black;
    
    }

p3 {
    
    
    font-size: 25px;
    color: black;
    
    }
over_back{
    position: flex;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #eaebe8;
    text-align: center;
    background: #4A5268;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
    }

net_back{
    position: flex;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: #8fca3d;

    background: #4A5268;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
}

input, textarea, select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    align-items: center;
  }
button {
    background: #23A6F0;
    color: #fff;
    border: 0;
    padding: 8px;
    margin: 20px;
    border-radius: 8px;
    cursor: pointer;
  }

td,
th {
    border: 1px solid rgb(168, 168, 168);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}
tr:nth-child(odd) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #000000;
    color: rgb(243, 243, 243);
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: btop;
}

table[val = "1"] {
    position: flex;
    border-collapse: collapse;
    border: 2px solid rgb(2, 1, 1);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    margin-right: auto;
    margin-left: auto;
    
}
table[val = "2"] {
    position: flex;
    border-collapse: collapse;
    border: 2px solid rgb(2, 1, 1);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    margin-right: auto;
    margin-left: auto;
   
}
.hometables{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}
div9{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    margin-left: auto;
    margin-right: auto;
   
}
table[val = "3"] {
    
    border-collapse: collapse;
    border: 2px solid rgb(2, 1, 1);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    margin-right: auto;
    margin-left: auto;
    
}
table[val = "4"] {

    border-collapse: collapse;
    border: 2px solid rgb(2, 1, 1);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    margin-right: auto;
    margin-left: auto;

}
table[val = "5"] {
    position: absolute;
    border-collapse: collapse;
    border: 2px solid rgb(2, 1, 1);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    top: 800px;
    Left: 200px
}
table[val = "6"] {
    position: flex;
    border-collapse: collapse;
    border: 2px solid rgb(2, 1, 1);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    top: 250px;
    Left: 700px
}
table[val = "7"] {
    position: flex;
    border-collapse: collapse;
    border: 2px solid rgb(2, 1, 1);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    top: 350px;
    Left: 700px
}
table[val = "8"] {
    position: flex;
    border-collapse: collapse;
    border: 2px solid rgb(2, 1, 1);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    top: 450px;
    Left: 700px
}
table[val = "9"] {
    position: flex;
    border-collapse: collapse;
    border: 2px solid rgb(2, 1, 1);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    top: 550px;
    Left: 700px
}
table[val = "10"] {
    position: flex;
    border-collapse: collapse;
    border: 2px solid rgb(2, 1, 1);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    top: 650px;
    Left: 700px
}


#othertables{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:50%;
    margin-right: auto;
    margin-left: auto;
    
}
#otherbuttons{
    display: flex;
    flex-direction: column;
    
}
#other{
    display: flex;
    flex-direction: column-reverse;
    
    align-items: center;
}

.specific{
    display: flex;
    justify-content: center;

}