


  
  a {
    color: #4e89c5;
    
  }
  
  
  .form-wrapper {
    
    background-color: #f6f6f6;
   
    border-color: #000000 #000000 rgb(0, 0, 0) #000000;
    border-style: solid;
    border-width: 3px;
    
    border-radius: 10px;
    
    margin-left: auto;
    margin-right: auto;
    
    overflow: hidden;
   
    width:40%;
  }
  
  .form-wrapper #search {
    border: 1px solid #CCC;
    
   
    border-radius: 3px;
    color: #999;
    float: left;
    font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
    height: 20px;
    
    width: 320px;
  }
  
  .form-wrapper #search:focus {
    border-color: #aaa;
    
    
    box-shadow: 0 1px 1px #bbb inset;
    outline: 0;
  }
  
  .form-wrapper #search:-moz-placeholder,
  .form-wrapper #search:-ms-input-placeholder,
  .form-wrapper #search::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
    font-weight: normal;
  }
  
  .form-wrapper #submit {
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
    background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
    background-image: linear-gradient(top, #31b2c3, #0483a0);
    border: 2px solid #000000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
   
    color: #000000;
    cursor: pointer;
    height: 42px;
    float: right;
    font: 15px Arial, Helvetica;
    padding: 0;
    
    text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
    width: 100px;
  }
  
  .form-wrapper #submit:hover,
  .form-wrapper #submit:focus {
    background-color: #31b2c3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
    background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
    background-image: linear-gradient(top, #0483a0, #31b2c3);
  }
  
  .form-wrapper #submit:active {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    outline: 0;
  }
  
  .form-wrapper #submit::-moz-focus-inner {
    border: 0;
  }
  
  